.DS_Store
*.pyc
*.egg-info
*.swp
tags
dist
__pycache__
plan.md
# node_modules - not needed (libraries bundled/included locally)
node_modules
# Lock files (may be created by npm/yarn even with empty dependencies)
yarn.lock
package-lock.json
